.title {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-medium) {
    width: 65%;
  }
  @media screen and (min-width: $break-large) {
    width: 70%;
  }
}

.name {
  margin: 0;
  @media screen and (min-width: $break-medium) {
    margin-bottom: 0.15rem;
  }
}

.name-job {
  text-align: center;
  margin-bottom: 0.25rem;
  @media screen and (min-width: $break-medium) {
    text-align: left;
    margin-top: 0.35rem;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  direction: column;
  justify-content: center;
  @media screen and (min-width: $break-medium) {
    margin: 0;
    width: 35%;
    justify-content: flex-end;
  }
  @media screen and (min-width: $break-large) {
    width: 30%;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.1rem;
    line-height: 1.75rem;
  }
}

.contact-detail {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  @media screen and (min-width: $break-medium) {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
  }
  @media screen and (min-width: $break-large) {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.summary {
  p {
    margin-top: initial;
    margin-bottom: initial;
  }
}

.list-bullet-point {
  margin-bottom: 1rem;
  margin-left: 1rem;
  li {
    margin-top: 0.15rem;
    margin-bottom: 0;
  }
  @media screen and (min-width: $break-medium) {
    padding-left: 0rem;
    margin-top: -0.5rem;
  }
}

.skills {
  p {
    margin: 0;
  }
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.skill-container {
  margin-top: -0.25rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.skill-category {
  width: 100%;
  @media screen and (min-width: $break-medium) {
    width: 48%;
  }
  @media screen and (min-width: $break-large) {
    width: 30%;
  }
}

.skill-prog-lang {
  @media screen and (min-width: $break-medium) {
    order: 1;
    width: 59%;
  }
}

.skill-tools {
  @media screen and (min-width: $break-medium) {
    order: 2;
    width: 95%;
  }
}

.skill-lang {
  @media screen and (min-width: $break-medium) {
    order: 1;
    width: 40%;
  }
}

.skill-past,
.skill-empty {
  @media screen and (min-width: $break-medium) {
    order: 2;
    width: 40%;
  }
}

.time-duration {
  font-size: 5px;
  vertical-align: middle;
  margin: 0 0.3rem 0.1rem;
  @media screen and (min-width: $break-medium) {
    margin: 0 0.5rem 0.1rem;
  }
}
