.name {
  font-family: 'Cinzel', serif;
  font-size: 1.4em;
  text-align: center;
  @media screen and (min-width: $break-medium) {
    font-size: 1.6em;
    text-align: left;
  }
  @media screen and (min-width: $break-large) {
    font-size: 2em;
  }
}

.name-job {
  font-size: 1em;
  color: gray;
  @media screen and (min-width: $break-medium) {
    font-size: 1.1em;
  }
  @media screen and (min-width: $break-large) {
    font-size: 1.2em;
  }
}

.contact {
  font-size: 1em;
  @media screen and (min-width: $break-medium) {
    text-align: right;
    font-size: 0.9em;
  }
}

.list-title {
  font-family: 'Cinzel', serif;
}

.list-bullet-point {
  list-style: disc;
}

.skills {
  p {
    font-size: 0.9em;
  }
  .skill-item {
    font-family: monospace;
    font-size: 1.25em;
  }
  h3 {
    margin-bottom: 0.4em;
  }
  .skill-tools {
    p {
      line-height: 1.75em;
    }
    @media screen and (min-width: $break-large) {
      h3 {
        margin-bottom: 0.3em;
      }
    }
  }
}

.list-title {
  font-weight: 700;
  font-size: 1.1em;
}

.list-bullet-point {
  line-height: 1.75em;
}

.tech-stack {
  font-family: monospace;
  font-size: 1.2em;
}

.normal-space {
  font-family: serif;
  line-height: 0em;
}