.name {
  font-family: 'Cinzel', serif;
  font-size: 1.4rem;
  text-align: center;
  @media screen and (min-width: $break-medium) {
    font-size: 1.6rem;
    text-align: left;
  }
  @media screen and (min-width: $break-large) {
    font-size: 2rem;
  }
}

.name-job {
  font-size: 1rem;
  color: gray;
  @media screen and (min-width: $break-medium) {
    font-size: 1.1rem;
  }
  @media screen and (min-width: $break-large) {
    font-size: 1.2rem;
  }
}

.contact {
  font-size: 0.9rem;
  @media screen and (min-width: $break-medium) {
    text-align: right;
  }
}

.list-title {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1rem;
}

.list-bullet-point {
  list-style: disc;
  line-height: 1.5rem;
  @media screen and (min-width: $break-medium) {
    line-height: 1.75rem;
  }
}
